<div class="twofas-light-modal-backdrop js-twofas-light-modal-remove-trusted-device">
    <div class="twofas-light-modal-container">
        <div class="twofas-light-modal-cell">
            <div class="twofas-light-modal">
                <div class="twofas-light-modal-header">
                    <h6>Confirmation</h6>
                </div>
                <div class="twofas-light-modal-body">
                    <div class="twofas-light-content-container">
                        <div class="twofas-light-text-content">
                            <p>You are going to remove trusted device. Please confirm to proceed.</p>
                        </div>
                        <div class="twofas-light-buttons">
                            <a href="#" class="twofas-light-close-modal-btn js-twofas-light-modal-cancel">Cancel</a>
                            <a href="#" class="twofas-light-confirm-modal-btn button button-primary js-twofas-light-remove-trusted-device-confirm">Confirm</a>
                        </div>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
