<div class="twofas-light-rate-plugin-prompt js-twofas-light-rate-plugin-prompt-box">
    <div class="twofas-light-rate-plugin-prompt-header">
        <h6>Give us your feedback!</h6>
    </div>
    <div class="twofas-light-rate-plugin-prompt-content">
        <p>Thank you for using 2FAS Light and making your life safer! We would appreciate your opinion on user experience. Let us know and help us grow!</p>
    </div>
    <div class="twofas-light-rate-plugin-prompt-buttons">
        <button type="button" class="button twofas-light-button-cancel js-twofas-light-close-rate-prompt">No, thank you</button>
        <button type="button" class="button button-primary js-twofas-light-postpone-rate-prompt">Ask me later</button>
        <a href="https://wordpress.org/support/plugin/2fas-light/reviews" target="_blank" rel="noopener" class="js-twofas-light-close-rate-prompt button button-success">Sure! Take me to wordpress.org</a>
    </div>
</div>