.summary {
  font-size: 18px;
  line-height: var(--summary-line-height);
  margin-bottom: var(--summary-margin);

  time {
    color: var(--heading-color);
    font-weight: bold;
  }

  h2 {
    font-size: var(--summary-h2-size);
    line-height: var(--summary-h2-line-height);
    margin: 16px 0;
    width: 80%;
  }

  p {
    width: 80%;
  }

  .words {
    font-size: 14px;
    text-transform: uppercase;
  }
}
