<div class="error notice twofas-light-error-message">
	<p><strong>2FAS Light plugin security warning</strong></p>
	<p>
		The plugin is not enabled network-wide on all networks of your multinetwork WordPress installation.
		This means that users might be able to circumvent the two-factor login process by logging in via sites
		on which the plugin is not active. Please activate the plugin network-wide on all networks to resolve
		this issue.
	</p>
</div>
