<div class="twofas-light-login-footer">
    <img class="twofas-light-login-badge" src="{{twofas_plugin_path}}/includes/img/2fas.png" height="45" alt="2FAS logo" />
    <span class="twofas-light-login-footer-tooltip">This site is secured by 2FAS Light</span>
</div>