{{ nonce_field | raw }}

<div class="twofas-light-wrapper wrap">
    <div class="twofas-light-logo-header">
        <h1>
            <img src="{{ twofas_plugin_path ~ '/includes/img/logo.svg' }}" alt="2FAS Light - Logo" />
            <span class="twofas-light-logo-header-title">
                2FAS &mdash; Two Factor Authentication Service <span class="twofas-light-classy-font">light</span>
            </span>
        </h1>
    </div>

    <div class="js-twofas-light-notifications"></div>

    {% if display_rate_plugin_prompt %}
        {% include 'includes/rate_plugin_prompt.html.twig' %}
    {% endif %}

    {% if twofas_full_plugin_is_active %}
        <div class="twofas-light-card">
            <span>
                <strong>
                    In order to use 2FAS Light plugin, please deactivate 2FAS plugin.
                    At the same time, we encourage to keep using 2FAS plugin
                    since it's offering more features and possibilities.
                </strong>
            </span>
        </div>
    {% else %}
        {% include 'includes/config_bar.html.twig' with {
            'twofas_light_totp_status': twofas_light_totp_status
        } %}

        <h3>Configuration</h3>
        <h4>Follow these instructions to configure 2FAS tokens protection correctly.</h4>

        {% include 'includes/configured_box.html.twig' with {
            'twofas_light_user_is_configured': twofas_light_user_is_configured,
            'twofas_light_user_configuration_date': twofas_light_user_configuration_date
        } %}

        <div class="twofas-light-config-wrapper js-twofas-light-config-wrapper{% if twofas_light_user_is_configured %} twofas-light-configured{% endif %}">
            {% include 'steps/step_1.html.twig' with {
                'twofas_plugin_path': twofas_plugin_path
            } %}

            {% include 'steps/step_2.html.twig' with {
                'twofas_plugin_path': twofas_plugin_path,
                'qr_code': qr_code,
                'totp_secret': totp_secret
            } %}

            {% include 'steps/step_3.html.twig' with {
                'totp_secret': totp_secret
            } %}
        </div>

        <div class="twofas-light-config-wrapper-button js-twofas-light-config-wrapper-button{% if twofas_light_user_is_configured %} twofas-light-configured{% endif %}">
            <button type="button" class="button button-primary twofas-light-button-add-another-device js-twofas-light-add-another-device">Add another app/device</button>
        </div>

        <h3>Trusted devices</h3>

        <h4 class="twofas-light-trusted-devices-desc">
            Following list contains all of your trusted devices.
            When you are using a trusted device, you don't need to enter a verification token each time you log in.
            Ensure that this list is up to date and remove unnecessary devices.
        </h4>

        <div class="twofas-light-card">
            <div class="twofas-light-trusted-devices-help">
                <span class="twofas-light-trusted-devices-help-tooltip">
                    <span class="twofas-light-icon twofas-light-icon-question-mark twofas-light-icon-question-mark-dims"></span>
                    <span>How to add a new device?</span>
                </span>
                <span class="twofas-light-trusted-devices-help-tooltip-content">
                    To add a new trusted device, please check "Remember device" checkbox during the second step of the login process.
                </span>
            </div>

            <div class="twofas-light-trusted-devices js-twofas-light-trusted-devices-wrapper">
                {% include 'includes/trusted_devices.html.twig' with {
                    'trusted_devices': trusted_devices
                } %}
            </div>
        </div>

        <div class="twofas-light-remove-bar js-twofas-light-remove-bar{% if not twofas_light_user_is_configured %} twofas-light-non-configured{% endif %}">
            <form action="{{ remove_configuration_url }}" method="post" class="js-twofas-light-remove-bar-form">
                {{ remove_configuration_nonce | raw }}
                <a href="#" class="js-twofas-light-remove-config">
                    <span class="twofas-light-icon twofas-light-icon-remove twofas-light-icon-remove-dims"></span>
                    <span>Click here to delete your configuration</span>
                </a>
            </form>
        </div>
    {% endif %}

    {% include 'includes/confirmation_modal.html.twig' %}
    {% include 'includes/remove_config_modal.html.twig' %}
    {% include 'includes/remove_trusted_device_modal.html.twig' %}
</div>
